# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/
*.egg-info/

# Secrets
.env
.env.*
!.env.example

# Local data
*.sqlite3
*.db
*.md
!/README.md

# Node
node_modules/
dist/

# OS / editors
.DS_Store
.idea/
.vscode/
